*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif; 
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 100%;
    padding: 50 0;
}
.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col4:hover{
    transform: translateY(-20px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
} 
.testimonial .col3:hover{
    transform: translateY(-20px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.brands{
    margin: 100px auto;
}
.col5{
    width: 160px;
}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(80%);
}
.col5 img:hover{
    filter: grayscale(0%);
}

.footer{
    /*background: #000;*/
    background-image: linear-gradient(50deg, #2ca428 0%, #665e30 60%);;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col1 , .footer-col2 , .footer-col3 , .footer-col4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}
.footer-col2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3 , .footer-col4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.li-a{
    color: blue;
}
.li-b{
    color: lightblue;
}
.li-c{
    color: #d3773a;
}
.li-d{
    color: crimson;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* All Products */
.row2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

.single-product{
    margin-top: 80px;
}
.single-product .col2 img{
    padding: 0;
}
.single-product .col2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px ;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    margin-right: 255px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.social-icons{
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    padding-top: 14px;
    /*box-shadow: 0 0 2px 0 #7f7f7f3d;*/
    cursor: pointer;
    border-radius: 50%;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/* Media Query */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/*New Experiment
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 30px;
    font-weight: 3000;
    font-size: 2rem;

}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
*/

#contact {
    background-color: #0abcf9;
    animation: con 5s infinite;
    background-image: linear-gradient(50deg, #363c92 0%, #a53ea5 60%);
    color: white;
    padding-bottom: 40px;
    margin-top: 40px;
}
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.3rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}
#contact-form-container #error-msg{
    margin-bottom: 20px;
    padding: 10px;
    background: #fe8b8e;
    text-align:center;
    font-size: 14px;
    transition: all 0.5s ease;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}





.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}





.text-highlight {
    color: #2857a4;
    font-weight: 600;

}





.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}





.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
.seventy-percent{
    height: inherit;
    width: 70%
}

.con {
    margin: 0px;
    font-family: sans-serif;
    font-size: 50px;
   
}
.con1 {
    margin: 0px;
    font-family: sans-serif;
    font-size: 35px;
}
.section-heading{
    text-align: center;

}
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 30px;
    font-weight: 3000;
    font-size: 2rem;

}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


.cartpay{
    text-align-last: right;
    
}

/*Checkout*/

.app-container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#580e8f,#9200ff);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.top-box{
    height: 150px;
    background-color: #9100fb;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.top-box p{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 40px;
}
.left-icon{
    float: left;
    margin-left: 30px;
}
.right-icon{
    float: right;
    margin-right: 30px;
}
.middle-box{
    height: 150px;
    background-image: linear-gradient(#580e8f,#9200ff);
    margin: -70px 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
}
.middle-box h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
}
.middle-box h1 span{
    font-size: 20px;
    margin-left: 5px;
    bottom: 18px;
    position: relative;
}
.middle-box p{
    text-align: center;
    color: #fff;
    margin: -20px 10px 10px;
    font-size: medium;
}
.bottom-box{
    text-align: center;
}
.payment-option-btn{
    color: #fff;
    margin: 5px 30px;
    height: 30px;
    width: 240px;
    background-color: #9100fd;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.card-details{
    background: #fff;
    color: #555;
    margin: 10px 30px;
    padding: 10px;
}
.card-details p{
    font-size: 14px;
    color: #d3773a;
}
.card-details label{
    font-size: 10px;
    line-height: 20px;
}
.card-num-field-group{
    margin-top: 10px;
}
.date-field-group{
    margin-top: 10px;
    display: inline-block;
}
.cvc-field-group{
    margin-top: 10px;
    display: inline-block;
    float: 30px;
}
.name-field-group{
    margin-top: 10px;
}
.card-num-field .name-field{
    width: 270px;
}
.date-field .cvc-field{
    width: 80px;
}
.card-details input{
    border: 1px solid #ccc;
    height: 22px;
    padding: 5px;
    font-size: 20px;
}
.card-details p{
    font-size: 20px;
}
.date-field-group label{
    font-size: 16px;
    color: brown;
}
.name-field-group label{
    font-size: 16px;
    color: brown;
}
.cvc-field-group label{
    font-size: 16px;
    color: brown;
}
.card-num-field-group label{
    font-size: 16px;
    color: brown;
}
.card-details input::placeholder{
    color: #ccc;
}
.pay-btn{
    color: #fff;
   /* margin: 5px 30px;*/
    height: 40px;
    margin-left: 520px;
    margin-top: 40px;
    width: 240px;
    background-color: #9100fd;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.a-1{
    color: white;
}
.a-2{
    color: white;
}
.a-3{
    color: white;
}
.l-1{
    color: white;
}
.ali{
    text-align: justify;
}

/* Media Query for less than 600 size */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col2 , .col3 , .col4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }

}
